{% block todo_table %}
<table class="table">
    <tr>
        <th>Task</th>
        <th>Created</th>
        <th>Due on</th>
        <th>Owner</th>
        <th>Mark</th>
    </tr>
    {% for todo in todos %}
        <tr>
            <td><a href="">{{todo.name}}</a></td>
            <td>{{todo.created_at|date:"d/m/y"}}</td>
            <td>{{todo.due_date|date:"d/m/y"}}</td>
            <td>{{todo.owner}}</td>
            <td><button class="btn btn-info">{% if todo.status == 2 %} Done {% else %} Not Done {% endif %}</button></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}